.venv/
venv/
*.venv
env/
# Python cache files
**pycache**/
*.pyc
*.pyo
*.pyd
# System files
.DS_Store
Thumbs.db
# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws
uploads/
.env
.env.*
!.env.example
# Dependency directories
*.egg-info/
dist/
build/
# Ignore pip requirements cache
pip-log.txt
pip-delete-this-directory.txt
# Specific PyCharm files to ignore
.pytest_cache/
.ruff_cache/
